<section class="home-section home-project fp-auto-height-responsive" id="home-{{project.title}}" data-scroll-activetolerance="200">
    <div class="project-section">
        <div class="bg-image" style="background-image: url('{{ project.media[project.header.background].url }}');"></div>
        {# <div class="bg-circle"></div> #}
        <div class="bottom-title">{{project.title}}</div>
        <div class="project-section__content">
            <div class="project-section__image">
                <div class="project-section__image-inner"><a href="{{project.url()}}">{% if project.media.images|first %} {{ project.media.images[project.header.main_img].html('', '', 'main-img') }} {% endif
                %}</a></div>
            </div>
            <div class="project-section__info">
                <div class="project-section__info-inner">
                    <div class="project-section__title">
                        <h1><a href="{{project.url()}}">{{project.header.title}}</a></h1>
                        <div class="project-section__vert">
                            {{project.header.vert_text}}
                        </div>
                    </div>
                    <div class="project-section__details">
                        {% for item in project.header.details %}
                        <div class="project-details__item">
                            <span class="project-details__item-key">Client</span>
                            <span class="project-details__item-value">{{item.client}}</span>
                        </div>
                        <div class="project-details__wrap">
                            <div class="project-details__item">
                                <span class="project-details__item-key">Role</span>
                                <span class="project-details__item-value">{{item.role}}</span>
                            </div>
                            <div class="project-details__item">
                                <span class="project-details__item-key">Year</span>
                                <span class="project-details__item-value">{{item.year}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="project-section__button button">
                        <a href="{{project.url()}}">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>